@charset "UTF-8";

body {
    padding: 0;
    margin: 0;
}

header {
    height: 80px;
    
    width: 100%;
    color: white;
    background-color: rgba(18, 11, 136, 0.6);
    position: fixed;
    top: 0;
    z-index: 10;
    
}

.headContainer {
    padding: 0 40px;
    height: 80px;
    
}

.home {
    float: left;
    text-align: left;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.homeText:hover {
    text-decoration: underline;
}

.homeText {
    font-size: 20px;
    display: block;
    margin: 25px 15px;
}

.headerContents {
    float: right;
    height: auto;
    width: auto;
    text-align: right;
    margin: 0;
    padding: 0;
    
}

.profile {
    float: left;
    display: block;
    
}


.profileText {
    font-size: 20px;
    display: block;
    margin: 25px 25px; 
    cursor: pointer;
}

.profileText:hover {
    text-decoration: underline;
}

.contactBtn {
    float: left;
    display: block;
    
}

.contactBtn h1 {
    font-size: 20px;
    display: block;
    margin: 15px 5px;
    padding: 10px 10px;
    border: 2px solid white;
    border-radius: 50px;
    color: rgba(18, 11, 136);
    background-color: white;
}

.contactText:hover {
    font-size: 20px;
    transition: 0.3s;
    display: block;
    margin: 15px 5px;
    padding: 10px 10px;
    background-color: rgba(18, 11, 136, 0.6);
    border: 2px solid white;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    
    
    
}

.first {
    text-align: center;
    background-image: url('sea.jpg');
    background-size: cover;
    color: white;
}

.container-first {
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    display: block;
    padding: 200px 100px 100px 100px;
}

.first h1 {
    font-size: 50px;
    margin: 0 auto;
}

.first h2 {
    text-align: right;
    margin: 0 auto;
}

.firstText {
    margin: 180px 100px 100px 100px;
}

.container {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    padding: 80px 100px 25px 100px;
}

.second {
    height: 375px;
    margin: 0;
    padding: 0;
}
.check {
    margin: 0 auto;
}

.checkBox {
    float: left;
    margin: 0;
}

.check-img {
    width: 38px;
    height: 38px;
    margin-bottom: 50px;
    
}

.checkSentence {
    float: left;
    text-align: left;
}

.checkSentence h2 {
    margin: 0 100px 50px 100px;
    font-size: 30px;
}

.newsecond {
    height: auto;
}

.newcontainer {
    height: auto;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.newcheckBox {
    display: block;
    height: auto;
    display: flex;
    margin-bottom: 50px;
    
}

.newcheckBox h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

.newcheck-img {
    float: left;
    padding-right: 50px;
    width: 38px;
    height: 38px;
}

.third {
    height: 375px;
    text-align: center;
    background-color: rgba(18, 11, 136, 0.1);
}

.third p {
    font-size: 28px;
}

.third h2 {
    font-size: 30px;
}

.newthird {
    height: auto;
    background-color: rgba(18, 11, 136, 0.2);
    padding-top: 50px;
    padding-bottom: 50px;
}

.newthird p {
    font-size: 28px;
    margin: 0;
    text-align: center;
}

.newthird h2 {
    font-size: 30px;
    margin: 0;
    
}

.title {
    font-size: 32px;
    margin-top: 0;
}

.profileBox {
    height: 375px;
}

.fukusen-img {
    float: left;
}

.photo {
    width: 175px;
    height: 198px;
}

.self {
    float: left;
    margin: 0 30px 0 30px;
}

.self h2 {
    margin-top: 0;
}

.vision {
    height: 375px;
    background-color: rgba(18, 11, 136, 0.1);
}

.visionSentence {
    text-align: center;
    margin: 50px 0 0 0;
    font-size: 40px;
}

.benefit {
    height: 400px;
}

.benefitBox {
    float: left;
    width: 50%;
    margin-top: 20px;
}

.benefitBoxBlock {
    background-color: rgba(18, 11, 136, 0.1);
    box-shadow: 10px 10px 10px rgba(18, 11, 136, 0.4);
    text-align: center;
    border-radius: 30px;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

.flow {
    height: 1000px;
    background-color: rgba(18, 11, 136, 0.1);
}

.flowSentence {
    flex-direction: column;
}

.flowBox {
    margin: 0 auto;
    width: 500px;
    margin-bottom: 30px;
}

.flowBoxBlock {
    box-shadow: 0px 2px 20px rgba(18, 11, 136, 0.1);
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
    text-align: center;
    background-color: white;
}

.contact {
    height: 1000px;
    background-color: rgba(18, 11, 136, 0.3);
}

.contact textarea {
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 5px;
}

.sbmitSentence {
    width: 100%;
    background-color: white;
    height: 30px;
    border: none;
    border-radius: 5px;
}


.form-label {
    font-size: 18px;
}

.sendBtn {
    background-color: rgba(18, 11, 136, 0.7);
    width: 100%;
    border: none;
    height: 50px;
    color: white;
    font-weight: 100px;
    font-size: 20px;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
}

.sendBtn:hover {
    background-color: rgba(18, 11, 136, 0.9);
    cursor: pointer;
}

.sendBtn:active {
    background-color: rgba(18, 11, 136, 0.4);
    position: relative;
    top: 3px;
    left: 3px;
    box-shadow: none;
}

.questionTitleBox {
    margin-bottom: 50px;
}

.qSentence {
    margin: 0;
}

.questionBlock {
    margin: 0 auto;
    width: 740px;
    margin-bottom: 30px;
}

.questionTitle {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

.answerBox {
    text-align: left;
    background-color: rgba(18, 11, 136, 0.1);
    margin: 0;
}

.answer {
    font-size: 18px;
    margin: 0;
    padding: 35px;
}



footer {
    background-color: rgba(18, 11, 136);
    height: 80px;
    color: white;
}

.footContainer {
    text-align: center;
    margin: 0 auto;
}

.footContainer p {
    margin: 0 auto;
    padding: 25px;
    
}