@charset "UTF-8";

body {
    padding: 0;
    margin: 0;
}

header {
    height: 80px;
    
    width: 100%;
    color: white;
    background-color: rgba(18, 11, 136, 0.6);
    position: fixed;
    top: 0;
    z-index: 10;
    
}

.headContainer {
    padding: 0 40px;
    height: 80px;
    
}

.home {
    float: left;
    text-align: left;
    margin: 0;
    padding: 0;
}

.home h1 {
    font-size: 20px;
    display: block;
    margin: 25px 15px;
}

.headerContents {
    float: right;
    height: auto;
    width: auto;
    text-align: right;
    margin: 0;
    padding: 0;
    
}

.profile {
    float: left;
    display: block;
    
}

.profile h1 {
    font-size: 20px;
    display: block;
    margin: 25px 15px; 
    
}

.contactBtn {
    float: left;
    display: block;
    
}

.contactBtn h1 {
    font-size: 20px;
    display: block;
    margin: 25px 15px;
    
}

.contactBtn:hover {
    background-color: rgba(18, 11, 136, 0.7);
    border: 2px solid black;
    border-radius: 4px;
    padding: 15px;
}

.first {
    text-align: center;
    background-image: url('sea.jpg');
    background-size: cover;
    color: white;
}

.container-first {
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    display: block;
    padding: 200px 100px 100px 100px;
}

.first h1 {
    font-size: 50px;
    margin: 0 auto;
}

.first h2 {
    text-align: right;
    margin: 0 auto;
}

.firstText {
    margin: 180px 100px 100px 100px;
}

.container {
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    display: block;
    padding: 50px 100px 25px 100px;
}

.second {
    height: 375px;
    margin: 0;
    padding: 0;
}
.check {
    margin: 0 auto;
}

.checkBox {
    float: left;
    margin: 0;
}

.check-img {
    width: 38px;
    height: 38px;
    margin-bottom: 50px;
    
}

.checkSentence {
    float: left;
    text-align: left;
}

.checkSentence h2 {
    margin: 0 100px 50px 100px;
    font-size: 30px;
}

.third {
    height: 375px;
    text-align: center;
    background-color: rgba(18, 11, 136, 0.1);
}

.third p {
    font-size: 28px;
}

.third h2 {
    font-size: 30px;
}

.title {
    font-size: 32px;
    margin-top: 0;
}

.forth {
    height: 375px;
}

.fukusen-img {
    float: left;
}

.photo {
    width: 175px;
    height: 198px;
}

.self {
    float: left;
    margin: 0 30px 0 30px;
}

.self h2 {
    margin-top: 0;
}

.fifth {
    height: 375px;
    background-color: rgba(18, 11, 136, 0.1);
}

.visionSentence {
    text-align: center;
    margin: 50px 0 0 0;
}

footer {
    background-color: rgba(18, 11, 136);
    height: 80px;
    color: white;
}

.footContainer {
    text-align: center;
    margin: 0 auto;
}

.footContainer p {
    margin: 0 auto;
    padding: 25px;
    
}
